*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(240 , 240, 240);
}
.left{
    text-align: left;
}
header{
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: #162E58;
    color: white;
    z-index: 999;
    top: 0;
    
}
header h1{
    /* padding: 20px 40px; */
    font-size: 16px;
    font-weight: normal;
}
header h2{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
}
.grupos{
    padding-top: 100px;
}


.grupos, .estatisticas{
    width: 50%;
    margin: 0 auto;
    background-color: white;
}
section h3{
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

th, td{
    border-top: 0.5px solid  #70757a;
    padding: 5px;
}
th{
    color: #70757a;
    font-weight: normal;
    border-top: none;
 
}
table{
   width: 100%;
   text-align: center;
   border-collapse: collapse;
}
.img-clube{
    width: 24px;
    height: 24px;
}
.estatisticas h2{
    color: white;
    background-color: #162E58;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
}
.jogador{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
h4{
    padding: 12px 0;
    margin: 0;
}
